body{
    background-color: #1f2123;
}

.white_theme{
    background-color: white;
}

.white_theme *{
    color: #2c3338 !important;
}

.white_theme button{
    color: white !important;
}

.auth_form{
    width: 310px;

    display: flex;
    flex-direction: column;

    justify-content: center;

    margin: auto auto;
}

.auth_form h3{
    text-align: center;
	font-family: Roboto-Medium;
    font-size: 20px;
    color: white;
}

.form_item{
    display: flex;

    justify-content: flex-end;

    margin-bottom: 15px;
}

.form_item span{
	font-family: Roboto-Light;
    font-size: 14px;
    color: white;
}

.form_item input{
    margin-left: 10px;
}

.buttons_auth{
    display: flex;
    justify-content: center;
}

.buttons_auth button{
	font-size: 16px;
    color: white;
    background-color: #635c5b;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.error_msg{
    color: #635c5b;
    margin: 0 0;

    text-align: center;

    margin-top: -10px;
    margin-bottom: 15px;
}